/*
 * Put site specific map styles and style overrides here.
*/

#lnu-map-editor {
    width: 100%;
    height: 650px;
}

div.info-window {
    max-width: 200px;
    min-width: 100px;
}

div.info-window .title {
    font-size: 14px !important;
    font-weight: 500 !important;
    box-shadow: none !important;
    color: #002561;
}

div.info-window a.title {
    text-decoration: underline !important;
}

div.info-window .delim {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 5px;
}

div.info-window .content {
    font-size: 13px;
}


/* 
 * WP theme stupid overrides 
*/

.gm-style img {
    box-shadow: none !important;
}

.entry-content {
    float: none !important;
    width: 100% !important;
}

.marker-settings th {
    text-align: left;
}